@import '../../../public/assets/govuk-frontend/govuk/core/typography';

.pwa-mail-merge {

  &__preview {

    font-weight: bold;

    &--automatic {
      color: govuk-colour("dark-blue");
    }

    &--manual {
      color: govuk-colour("red");
    }

  }

}