@import '../../../public/assets/govuk-frontend/govuk/core/typography';

.pwa-mail-merge {

  &__preview {

    font-weight: bold;

    &--automatic {
      color: govuk-colour("green");
    }

    &--manual {
      color: govuk-colour("red");
      font-weight: bold;
      text-decoration: underline wavy govuk-colour("red");
      text-decoration-skip-ink: none;
    }

  }

}