// GOVUK-style cards
.card {
  border: 5px solid govuk-colour("grey-3");
  @include govuk-responsive-padding(3, "all");
  margin: govuk-spacing(3) 0;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  .govuk-heading-xl,
  .govuk-heading-l,
  .govuk-heading-m,
  .govuk-heading-s {
    margin-top: govuk-spacing(0);
    margin-bottom: govuk-spacing(0);
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    @include govuk-font(19);
    margin-left: govuk-spacing(2);
  }

  &__files-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__files-list-item {
    &:last-child {
      .govuk-body {
        margin-bottom: 0;
      }
    }
  }

  &--error {
    border-color: $govuk-error-colour;
  }

  &--blue {
    border-color: govuk-colour("blue");
  }

  &, &--empty, &--error {
    > .govuk-body:last-child,
    .govuk-button:last-child,
    a[role="button"]:last-child {
      margin-bottom: govuk-spacing(0);
    }
  }
}