html.has-modal {
  overflow: hidden;
}

// Modal wrappers styling
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: rgba(0,0,0,0.5);
  overflow: auto;
  text-align: center;
}

#modal {
  background: #fff;
  width: 600px;
  margin: 10% auto 140px auto;
  @include govuk-responsive-padding(4, "all");
  position: relative;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  @include govuk-font($size:19);
  @include govuk-text-colour;

  //responsive modal
  &.dynamic-modal {
    width: auto;
    min-width: 600px;
  }
}

#close-modal-fixed-button {
  display: block;
  margin-left: auto;
  margin-top: -5px;
  @include govuk-responsive-margin(3, "bottom");
}

.modal-template {
  display: none;
}

// Modal content
.modal {
  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__confirm-button,
  &__cancel-button {
    @include govuk-responsive-margin(0, "bottom");
  }
}