//@import '../../../public/assets/govuk-frontend/govuk/core/links';
//@import '../../../public/assets/govuk-frontend/govuk/core/lists';
//@import '../../../public/assets/govuk-frontend/govuk/core/typography';

.pwa-markdown__input {
  background: govuk-colour("light-grey");
  padding: govuk-spacing(6);
  margin-bottom: 2rem;
}

.pwa-markdown__preview {

  background: govuk-colour("light-grey");
  padding: govuk-spacing(6);
  margin-bottom: 2rem;

  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  h5 {
    @extend %govuk-heading-s;
  }

  h6 {
    @extend %govuk-heading-s;
  }

  a {
    @extend %govuk-link;
  }

  ul {
    @extend %govuk-list;
    @extend %govuk-list--bullet;
  }

  ol {
    @extend %govuk-list;
    @extend %govuk-list--number;
  }

  p {
    @extend %govuk-body-m
  }

  table {
    @include govuk-font($size: 19);
    @include govuk-text-colour;
    width: 100%;
    @include govuk-responsive-margin(6, "bottom");

    border-spacing: 0;
    border-collapse: collapse;
  }

  table {

    %govuk-table-cell {
      padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;
      border-bottom: 1px solid $govuk-border-colour;
      text-align: left;
      vertical-align: top;
      // GOV.UK Elements sets the font-size and line-height for all headers and cells
      // in tables.
      @include govuk-compatibility(govuk_elements) {
        font-size: inherit;
        line-height: inherit;
      }
    }

    th {
      @extend %govuk-table-cell;
      @include govuk-typography-weight-bold;
    }

    td {
      @extend %govuk-table-cell;
    }
  }

}

