.clause-list {

  &__action {

    font-weight: normal;

    &--heading {
      margin-left: govuk-spacing(2);
    }

  }

  &__text__preserve-whitespace {
    font-weight: normal;
    margin-bottom: govuk-spacing(4);
    display: block;
  }

  .govuk-list {

    > li {
      font-weight: bold;
    }

    &--lower-alpha {
      list-style-type: lower-alpha;
    }

    &--lower-roman {
      list-style-type: lower-roman;
    }

  }

  .govuk-list--bullet {
    padding-left: 0;
  }

}