.pwa-clause-list {

  &__action {

    &--heading {
      margin-left: govuk-spacing(2);
    }

  }

  &__text__preserve-whitespace {
    margin-bottom: govuk-spacing(4);
    display: block;
  }

  .pwa-clause-list__list {

    > li.pwa-clause-list__list-item::marker {
      font-weight: bold;
    }

    &--lower-alpha {
      list-style-type: lower-alpha;
    }

    &--lower-roman {
      list-style-type: lower-roman;
    }

  }

  .govuk-list--bullet {
    padding-left: 0;
  }

}